body {
    background-color: var(--back-color);
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    --back-color: #5E548E;
    --content-back-color: #5E548E;
    --button-back-color: #9F86C0;
    --content-color: white;
    --title-color: #8B86BF;
    --button-color: #E0E1DD


}

.content-body{
    background-color: var(--content-back-color);
    border-radius: 10px;
    border-color: var(--back-color);
    height: max-content;
    min-height: 80vh;
    max-width: 100vw;
    display: flex;
}

.content-holders{
    background-color: var(--content-color);
}

.sidebar{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 35px;
    margin-top: 35px;
    margin-left: 100px;
    border-radius: 19px;
    float: left;
    position:fixed;

}

button {
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 40px;
    background-color: var(--button-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.2s;
    width:150px;
}

button:hover{
    background-color: #F4F4F4;
    transform: scale(1.05);

}

button:active{
    transform: translateY(1px)
}
.last-button{
    margin: 0px;
}

.content{
    display: grid;

    background-color: var(--content-color);
    border-radius: 10px;
    margin-right: 60px;
    margin-top: 65px;
    width: 811px;
    margin-bottom: 65px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding : 5%;
    padding-left: 50px;
    padding-right: 50px;

}

.sidebar-space{
    width: 437px;

}

.title{
    background-color: var(--title-color);
    position: fixed;
    height: 17%;
    width: 40%;
    border-radius: 10px;
    left: 50%;
    top: 21px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;

    font-size: 50px;
    font-weight:600;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    text-align: center;


}
.title:hover{
    opacity: 20%;


}

@keyframes slideright {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translate(0%)
    }
}

.title{
    animation: 1s ease-in-out 0s 1 slideright;
}

.content-boxes{ 
    background: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 70%;
    width: fit-content;
    margin-top: 5%;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#section-header {
    justify-self: left;
    margin-top: 10%;
    margin-bottom: 0%;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}


p{
    margin: 0;
}

#center{
    justify-self: center;
}

.crime-image{
    background: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 600px;
    margin-top: 5%;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.crime-image:hover{
    transform: scale(1.2);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

}
